header {
    z-index: 9999;
    width: 100%;
    position: fixed;
    top: 0;
    height: 50px;
    //background-image: url("/img/pattern.png");
    background-color: #111;
    nav {
        padding-top: 3px;
    }
}

.custom-card {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 15px;
    border-width: 3px;
    border-style: solid;
    border-image: linear-gradient(to bottom, #ff9500, rgba(0, 0, 0, 0)) 1 100%;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0 4px 2px -2px #111;
    transition: 0.2s ease-in-out;
    &:hover {
        transform: translateY(-5px);
    }
    &.special{
        background-color: rgba(255,149,0,0.8);
        border-image: linear-gradient(to bottom, #111, rgba(0, 0, 0, 0)) 1 100%;
        i {
            color: #111;
        }
    }
    &>div{
        overflow: hidden;
    }
}

.custom-table{
    padding: 0 5px;
    .custom-table-row{
        background-color: rgba(0, 0, 0, 0.5);
        font-size: 1.2em;
        margin-bottom: 10px;
        margin-left: 0;
        margin-right: 0;
        padding: 10px 0;
        border-radius: 0px 0px 5px 5px;
        transition: 0.2s ease-in-out;
        &:hover {
            transform: translateY(-2px);
        }
        &.special{
            border-width: 3px;
            border-style: solid;
            border-image: linear-gradient(to bottom, #ff9500, rgba(0, 0, 0, 0)) 1 100%;
        }
        &>div{
            &:first-child{
                overflow: hidden;
            }
        }
    }
}

.btn-icon {
    width: 35px;
    height: 35px;
    background-color: #ff9500;
    border-radius: 0px 0px 3px 3px;
    box-shadow: 0 4px 2px -2px #111;
    padding-top:4px;
    text-align:center;
    color: #111;
    text-transform: uppercase;
    font-weight: 700;
    &:hover{
        background-color: #b96d02;
        * {
            color: #fff;
        }
    }
    i{
        margin-top: -3px;
        color: #111;
    }
}

.info-card {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border: 1px dashed #aaa;
    .fas {
        cursor: pointer;
    }
    &>div{
        &:first-child{
            min-width: 0;
            overflow-wrap: break-word;
            padding-right: 20px;
            flex: 1;
        }
    }
}

.filters {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    .toggle{
        cursor: pointer;
    }
}

.map {
    width: 100%;
    height: calc(100vh - 200px);
}