
.overlay {
    
    height: 100%;
    width: 0;
    position: fixed; 
    z-index: 5; 
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0, 0.9); 
    overflow-x: hidden; 
    transition: 0.3s; 
  }

  .overlay-content {
    position: relative;
    top: 25%; 
    width: 100%;
    text-align: center; 
    margin-top: 30px; 
    white-space: nowrap;
    &.notifications{
      top: 15% !important;
      text-align: left !important;
      margin-top: 0px !important;
      a {
        font-size: 14px;
      }
    }
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #aaa;
    display: block; 
    transition: 0.3s; 
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #fff;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 15px;
    cursor: pointer;
  }

  .openbtn{
      cursor:pointer;
      &:hover{
        i{
          color: #fff;
        }
      }
  }
  
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
      font-size: 15px;
      top: 15px;
      right: 35px;
    }
  }